.map {
  width: 100%;
  height: 100vh;
}

.total-percent {
  position: absolute;
  bottom: 30%;
  left: 30px;
  width: 15%;
}

.total-countries {
  position: absolute;
  bottom: 1%;
  left: 30px;
  width: 15%;
}
